{%extends 'base.html'%}
{%block title%}
bmw
{%endblock%}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
</head>


{%block body%}

<h1 style="font-size: 50px; font-family: cursive; font-weight: bolder; display: flex;
justify-content: center; display-content:center">history of BMW</h1>
<p class="para">
    <img style="float: left; width: 150pxpx; height: 250px" src="{{url_for('static', filename='images/München_-_BMW-Werk_in_2018-07.jpg')}}" alt="">
    ayerische Motoren Werke AG, commonly abbreviated to BMW (German pronunciation: [ˌbeːʔɛmˈveː] ⓘ),
    is a German multinational manufacturer of luxury vehicles and motorcycles headquartered in Munich,
    Bavaria, Germany. The company was founded in 1916 as a manufacturer of aircraft engines, which it
    produced from 1917 to 1918 and again from 1933 to 1945 creating engines for aircraft that were used
    in the Second World War.
    Automobiles are marketed under the brands BMW, Mini and Rolls-Royce, and motorcycles are marketed
    under the brand BMW Motorrad. In 2017, BMW was the world's fourteenth-largest producer of motor vehicles,
    with 2,279,503 vehicles produced[3] and in 2022 the 7th largest by revenue.[4] In 2023, the company was
    ranked 46th in the Forbes Global 2000.[5] The company has significant motor-sport history, especially in
    touring cars, sports cars, and the Isle of Man TT.
    BMW is headquartered in Munich and produces motor vehicles in Germany, Brazil, China, India, Mexico, the
    Netherlands, South Africa, the United Kingdom, and the United States. The Quandt family [de] is a long-term
    shareholder of the company, following investments by the brothers Herbert and Harald Quandt in 1959 that saved
    BMW from bankruptcy, with the remaining shares owned by the public.The Otto Flugmaschinenfabrik was founded in 1910
    by Gustav Otto in the Kingdom of Bavaria, which was a state of the German Empire. The firm was reorganized on 7 March
    1916 into Bayerische Flugzeugwerke AG. This company was then renamed to Bayerische Motoren Werke (BMW) in 1922. However,
    the name BMW dates back to 1913, when a company to use the name was founded by Karl Rapp initially as Rapp Motorenwerke.
    The name and Rapp Motorenwerke's engine-production assets were transferred to Bayerische Flugzeugwerke in 1922, who
    adopted the name the same year.[6] BMW's first product was produced for fighter aircraft of the Luftstreitkräfte.
    It was a straight-six aircraft engine called the BMW IIIa, designed in the spring of 1917 by engineer Max Friz.
    Following the end of World War I, BMW remained in business by producing motorcycle engines, agricultural equipment,
    household items, and railway brakes. The company produced its first motorcycle, the BMW R 32, in 1923.
    BMW became an automobile manufacturer in 1928 when it purchased Fahrzeugfabrik Eisenach, which, at the time,
    built the Austin 7 under licence from Dixi.[7] The first car sold as a BMW was a rebadged BMW Dixi called the BMW 3/15,
    following BMW's acquisition of the car manufacturer Automobilwerk Eisenach. Throughout the 1930s, BMW expanded its range
    into sports cars and larger luxury cars.
    <img style="float: right; width: 150pxpx; height: 250px" src="{{url_for('static', filename='images/download.jpeg')}}" alt="">
    The BMW Headquarters (German: BMW-Vierzylinder, lit. 'BMW four-cylinder'), also known as the BMW Tower (German: BMW-Turm
    or BMW-Hochhaus), is a high-rise building located in the Am Riesenfeld area of Munich, Germany. The building has served as
    the global corporate headquarters of German automaker BMW since 1973. It was declared a protected historic building in 1999,
    and it is often cited as one of the most notable examples of modern architecture in Munich. Extensive renovations commenced
    in 2004 and were completed in 2006.The tower was built between 1968 and 1972, and it was ready in time for the 1972 Summer Olympics.
    The inauguration followed on 18 May 1973. The 101-metre (331 ft) building is located next to the Olympiapark and BMW's main factory.
    The tower's exterior is supposed to mimic the shape of four cylinders in a car engine, with the Museum building representing a cylinder
    head. Both buildings were designed by the Austrian architect Karl Schwanzer.[4]
    The tower consists of four vertical cylinders standing next to and across from each other.
    Each cylinder is divided horizontally in its center by a mold in the facade. Notably, these
    cylinders do not stand on the ground; they are suspended on a central support tower. During
    construction, individual floors were assembled on the ground and then elevated. The tower has
    a diameter of 52.30 metres (171.6 ft) and has 22 occupied floors, two of which are basements
    and 18 of which serve as office space.

</p>

<div>


    <ul>
        <li>
            <div>
                <h1 style="color: #930808"> Oldest BMW - BMW 3/15</h1>
                <p style="float:left; width:1500px" class="para">
                    In 1927, Fahrzeugfabrik Eisenach, which manufactured automobiles
                    under the Dixi marque, entered a contract
                    with the Austin Motor Company to manufacture the Austin Seven under
                    licence. The first fifty Eisenach-built
                    Sevens were right-hand-drive cars assembled in September 1927 from parts
                    provided by Austin's factory in Longbridge. By December 1927, Dixi had begun
                    building their version of the Seven, the left-hand-drive Dixi 3/15 PS DA-1,
                    built from parts made by Dixi. The 3/15 designation was derived from a taxable
                    power rating of 3 PS with an actual power output of approximately 15 PS (11 kW).
                    The DA-1 designation stood for Erste Deutsche Ausführung ("First German Version").
                    The main differences between the BMW Dixi 3/15 DA-1 and the contemporary Austin Seven
                    were the addition of Bosch shock absorbers, the placement of the driver's controls on
                    the left side of the vehicle, and the use of metric fasteners.
                    Top speed: 75 km/h (47 mph)
                    Acceleration 8 to 40 km/h (5 to 25 mph) in 10 seconds
                    Fuel consumption: appr. 5.5 L/100 km (51 mpg‑imp; 43 mpg‑US)
                    BMW bought Fahrzeugfabrik Eisenach from parent company Gothaer Waggonfabrik
                    in October 1928. As a result, the Dixi 3/15 PS DA-1, when upgraded for 1929
                    became the BMW Dixi 3/15 DA-2 or, increasingly, simply as the BMW 3/15 DA-2.[4]
                </p>
                <img style="float:right; width" src="{{url_for('static', filename='images/Dixi_3-15_DA_(1929).jpg')}}" alt="">
            </div>
        </li>
        <li>
            <div style="padding-top: 200px">
                <h1 style="color: #930808"> latest BMW - BMW IX </h1>
                <p style="float:left; width: 1400px" class="para">
                    The BMW iX is a battery-electric mid-size luxury crossover SUV manufactured and marketed by the German
                    automobile manufacturer BMW. It was unveiled in concept form named Vision iNext at the 2018 Paris Motor
                    Show,[4] and then as fully production-ready in November 2020.[5] The iX is the first purpose-built electric
                    vehicle by BMW since the i3 from 2013,[6] and the fourth BMW i sub-brand model.[7]
                    The BMW iNext was first announced by BMW in March 2016 as the "new spearhead of innovation and technology"
                    with a launch goal of early in the next decade.[9]
                    The BMW Vision iNext was unveiled at the 2018 Paris Motor Show. Referred as "Project i 2.0", the Vision iNext
                    was developed to address key questions for the future of motoring, with a focus on electrification, connectivity
                    and autonomy. It was an SUV roughly similar in size to the BMW X5, although it was substantially bigger inside due
                    to its EV architecture, with front and rear motors and underfloor batteries. BMW confirmed that it would use BMW's
                    fifth-generation electric powertrain, 0–100 km/h (62 mph) in 4.0 seconds and range of 380 mi (612 km). The level
                    of autonomy the production version would offers depended on regulations and infrastructure.[10]
                    The iX nameplate was chosen to signify the model's position at the top of the electric i line-up and its role in
                    showcasing technology as it uses the new fifth-generation version of BMW's electric drive system, and also offers
                    high levels of autonomous and connected technology.[8]
                </p>
                <img style="width: 450px; height: 250px; float: right" src="{{url_for('static', filename='images/img_2.png')}}" alt="">
            </div>
        </li>
        <li>
            <div>
                <h1 style="color: #930808"> Most Popular BMW - BMW X5 </h1>
                <p style="float: left; width: 1550px" class="para">
                    The BMW X5 is a mid-size luxury crossover SUV produced by BMW.[1] The X5 made its debut in 1999 as the E53 model.
                    It was BMW's first SUV. At launch, it featured all-wheel drive and was available with either a manual or automatic
                    gearbox. The second generation was launched in 2006, and was known internally as the E70. The E70 featured the torque-split
                    capable xDrive all-wheel drive system mated to an automatic gearbox. In 2009, the X5 M performance variant was released
                    as a 2010 model.[2]
                    BMW marketed the X5 officially as a "Sports Activity Vehicle" (SAV),[3] rather than an SUV, to indicate its on-road
                    handling capability despite its large dimensions.[4] The X5 signaled a shift away from the utilisation of body-on-frame
                    construction, in favour of more modern monocoque chassis construction. Although the Mercedes-Benz M-Class was introduced
                    more than a year prior to the X5, the X5 was the first to utilise a monocoque chassis. The M-Class used body-on-frame
                    construction until its second generation.[5][6]
                    The X5 is primarily manufactured in North America, at BMW Group Plant Spartanburg. Assembly operations also take place
                    in Russia by Avtotor, along with operations in India, Indonesia, Malaysia, and Thailand. The X5 is also modified for
                    armoured security versions, at the BMW de México Toluca plant.
                </p>
                <img style="width:300px; height: 200px; float: right; margin-bottom: 100px" src="{{url_for('static', filename='images/280px-2019_BMW_X5_M50d_Automatic_3.0.jpg')}}" alt="">
            </div>
        </li>
        <li>
            <div>
                <h1 style="color: #930808"> least popular bmw - X2 </h1>
                <p style="float: left; width: 1500px; margin-bottom: 40px" class="para">
                    The X2 was first previewed as the BMW Concept X2 at the 2016 Paris Motor Show,[6] with a production version unveiled
                    on 25 October 2017,[7] with sales commenced in March 2018.[8][9]
                    The X2 F39 is based on the same front-wheel drive UKL2 architecture as the X1 and MINI Countryman,[10] and features
                    the same 2,670 mm (105.1 in) wheelbase length. The X2 is assembled in Regensburg, Germany and is produced alongside
                    the X1.[11] Being a part of BMW X family, the vehicle is also available with xDrive all-wheel drive on higher end
                    models.[12]
                    Both the sDrive28i and xDrive28i models are available in North American markets.[13]
                    A plug-in hybrid variant, called the xDrive 25e, was unveiled in January 2020.[14] In September 2020 BMW
                    presented the special variant M Mesh Edition with a sporty look.[15]
                    Production concluded on 11 October 2022, about 13 months prior to the launch of the next generation.[3]
                    The X2 is offered in a standard, M Sport, and M Sport X trim.[16] The standard trim features cloth seats, a
                    6.5-inch iDrive 6.0 screen, and 17-inch wheels, while M Sport and M Sport X models have 19-inch wheels and
                    include dynamic damper control and a 10 mm (0.4 in) lower sports suspension.[17]
                    Available upgrades include Dakota leather, an upgraded 8.8-inch or 10.25-inch iDrive system with touch
                    controls, wireless charging, a heads up display, and a Driving Assistant package that includes cruise
                    control, lane departure warning, and speed limit information.[18]
                </p>
                <img style="width: 350px; height: 250px; float: right" src="{{url_for('static', filename='images/1920px-2018_BMW_X2_xDrive20d_M_Sport_X_Automatic_2.0_Front.jpg')}}" alt="">
            </div>
        </li>
    </ul>


</div>

{%endblock%}