{% extends 'base.html'%}

{% block title %}
mercedes
{% endblock %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='script/script.js')}}"></script>

</head>

{% block body %}
<div>
    <h1 class="title"> mecredes </h1>
    <p class="para">
        Mercedes-Benz (German pronunciation: [mɛʁˌtseːdəs ˈbɛnts, -dɛs -] ⓘ),
        commonly referred to as Mercedes and sometimes as Benz, is a German luxury
        and commercial vehicle automotive brand established in 1926. Mercedes-Benz
        AG (a Mercedes-Benz Group subsidiary established in 2019) is headquartered
        in Stuttgart, Baden-Württemberg, Germany. Mercedes-Benz AG produces consumer
        luxury vehicles and light commercial vehicles badged as Mercedes-Benz. From
        November 2019 onwards, Mercedes-Benz-badged heavy commercial vehicles
        (trucks and buses) are managed by Daimler Truck, a former part of the Mercedes
        -Benz Group turned into an independent company in late 2021. In 2018, Mercedes
        -Benz was the largest brand of premium vehicles in the world, having sold 2.31
        million passenger cars.[8]
        The brand's origins lie in Daimler-Motoren-Gesellschaft's 1901 Mercedes and Carl
        Benz's 1886 Benz Patent-Motorwagen, which is widely regarded as the first internal
        combustion engine in a self-propelled automobile. The slogan for the brand is "the Best or Nothing".
        Mercedes-Benz Group AG is one of the world's most successful automotive companies.
        With Mercedes-Benz AG, the Group is one of the leading global suppliers of premium
        and luxury cars and vans. Mercedes-Benz Mobility AG offers financing, leasing, car
        subscription and car rental, fleet management, digital services for charging and
        payment, insurance brokerage, as well as innovative mobility services. The company
        founders, Gottlieb Daimler and Carl Benz, made history by inventing the automobile
        in 1886. As a pioneer of automotive engineering, Mercedes-Benz sees shaping the
        future of mobility in a safe and sustainable way as both a motivation and obligation.
        The company's focus therefore remains on innovative and green technologies as well as
        on safe and superior vehicles that both captivate and inspire. Mercedes-Benz continues
        to invest systematically in the development of efficient powertrains and sets the course
        for an all electric future: The brand with the three-pointed star pursues the goal to
        go all electric, where market conditions allow. Shifting from electric-first to electric-only,
        the world’s pre-eminent luxury car company is accelerating toward an emissions-free and
        software-driven future. The company's efforts are also focused on the intelligent connectivity
        of its vehicles, autonomous driving and new mobility concepts as Mercedes-Benz regards it as
        its aspiration and obligation to live up to its responsibility to society and the environment.
        Mercedes-Benz sells its vehicles and services in nearly every country of the world and has
        production facilities in Europe, North and Latin America, Asia and Africa. In addition to
        Mercedes-Benz, the world's most valuable luxury automotive brand (source: Interbrand study,
        20 Oct. 2021), Mercedes-AMG, Mercedes-Maybach and Mercedes me as well as the brands of
        Mercedes-Benz Mobility: Mercedes-Benz Bank, Mercedes-Benz Financial Services and Athlon.
        The company is listed on the Frankfurt and Stuttgart stock exchanges (ticker symbol MBG).
    </p>
    <img style="width: 400px; height: 300px; float: right" src="{{url_for('static', filename='images/MBUSAHQExteriorMarch132018.jpg')}}" alt="uwu">
    <p class="para">
        The Mercedes-Benz Group origin is in an Agreement of Mutual Interest signed on 1 May 1924
        between Benz & Cie. (founded in 1883 by Carl Benz) and Daimler Motoren Gesellschaft
        (founded in 1890 by Gottlieb Daimler and Wilhelm Maybach). Both companies continued
        to manufacture their separate automobile and internal combustion engine marques until
        28 June 1926, when Benz & Cie. and Daimler-Motoren-Gesellschaft formally merged
        – becoming Daimler-Benz AG (Aktiengesellschaft) – and agreed that thereafter, all of the
        factories would use the brand name of "Mercedes-Benz" on their automobiles. The inclusion
        of the name Mercedes in the new brand name honored the most important model series of DMG
        automobiles, the Mercedes series, which were designed and built by Wilhelm Maybach. They
        derived their name from a 1900 engine named after the daughter of Emil Jellinek. Jellinek
        became one of DMG's directors in 1900, ordered a small number of motor racing cars built
        to his specifications by Maybach, stipulated that the engine must be named Daimler-Mercedes,
        and made the new automobile famous through motorsports. That race car later became known as
        the Mercedes 35 hp. The first of the series of production models bearing the name Mercedes had
        been produced by DMG in 1902. Jellinek left the DMG board of directors in 1909.
        The name of Daimler as a marque of automobiles had been given by Gottlieb Daimler [dubious – discuss]
        for use by other companies. It is or was used principally by Daimler Motor Company and Austro-Daimler later
        Steyr-Daimler-Puch but also, very briefly by Daimler Manufacturing Company and Panhard-Daimler, and others.
        The new company, Daimler-Benz, did not obtain consent to include Daimler in its brand name and used the name
        Mercedes to represent the Daimler-Motoren-Gesellschaft interest. Karl Benz remained as a member of the board
        of directors of Daimler-Benz AG until his death in 1929.
        Although Daimler-Benz is best known for its Mercedes-Benz automobile brand, during World War II,
        it also created a notable series of engines for German aircraft, tanks, and submarines. Its cars
        became the first choice of many Nazi, Fascist Italian, and Japanese officials including Hermann
        Göring, Adolf Hitler, Benito Mussolini and Hirohito, who most notably used the Mercedes-Benz 770
        luxury car. Daimler also produced parts for German arms, most notably barrels for Mauser Kar98k
        rifles. During World War II, Daimler-Benz had over 60,000 concentration camp prisoners and other
        forced laborers to build machinery. After the war, Daimler admitted to its links and coordination
        with the Nazi government
    </p>
</div>

<div>
    <ul>
        <li>
            <div>
                <h1 style="color: #930808"> Oldest Car - Mercedes 35 hp</h1>
                <p style="width: 1500px; float: left" class="para">
                    The Mercedes 35 HP (German: Mercedes 35 PS) was a radical early car model designed in
                    1901 by Wilhelm Maybach and Paul Daimler, for Emil Jellinek. Produced in Stuttgart,
                    Germany, by Daimler-Motoren-Gesellschaft (DMG), it began the Mercedes line of cars
                    (since 1926 re-branded Mercedes-Benz). Its name is derived from the power of the engine,
                    35 Pferdestärken (26 kW, approximately 35 horsepower[1]: 49 ).
                    A significant advancement over the previous generation of automobiles, which were modified
                    stagecoaches, the Mercedes 35 HP is regarded as the first modern car.[2] It was equipped with
                    a powerful petrol engine, it was both wider and larger with a tailored steel chassis, and
                    its center of mass was near the ground. Originally designed as a racing car, the Mercedes 35 HP
                    was further developed for normal road use.
                    In the 19th century, Wilhelm Maybach's career as an industrial designer had been with Gottlieb
                    Daimler in their Cannstatt workshop (near Stuttgart), at which together they had pioneered the
                    petrol engine production and were responsible for designing and making some of the world's first
                    automobiles. By 1900, Maybach was the Chief Engineer within the Daimler Motoren Gesellschaft
                    (DMG),[Note 1] which had been an expansion of their previous company that originated from their
                    small workshop. He never got along with the new capitalist board, and later left to join Ferdinand
                    von Zeppelin. In 1900, Gottlieb Daimler died and his son Paul Daimler had taken his place beside Maybach.
                </p>
                <img style="width: 350px; height: 250px; float: right" src="{{url_for('static', filename='images/Mercedes_35hp_by_Wilhelm_Maybach.jpg')}}" alt="">
            </div>
        </li>
        <li>
            <div>
                <h1 style="color: #930808"> Leatest Car - Mercedes-AMG ONE </h1>
                <p style="width: 1450px; float: left" class="para">
                   The Mercedes-AMG ONE (R50, previously known as Project One) is a limited-production plug-in dual
                    hybrid sports car manufactured by Mercedes-AMG, featuring Formula One-derived technology.
                    The Project One concept car was unveiled at the 2017 International Motor Show Germany by the
                    seven-time F1 world champion and Mercedes-AMG Petronas F1 driver, Lewis Hamilton and Head of
                    Mercedes-Benz, Dieter Zetsche. The production version of the AMG ONE was unveiled on June
                    1, 2022 and the production began in August. Mercedes-AMG unveiled the concept version of the
                    ONE, the Project One with nearly identical specifications to the production version. Claimed
                    that the production ONE will be evaluated on their performance, durability, and ability in
                    Mercedes-Benz's proving grounds and on racing circuits. Development of the AMG ONE took place
                    at Mercedes-AMG GmbH, in Affalterbach Germany. Head of Mercedes-AMG, Tobias Moers described
                    that when "the time is right", Lewis Hamilton, who has worked on the development of the car
                    will join the team of development drivers testing prototypes of the car.
                </p>
                <img style="width: 400px; height: 200px; float: right" src="{{url_for('static', filename='images/1-Mercedes-AMG-One.jpg')}}" alt="">
            </div>
        </li>
        <li>
            <div style="margin-top: 100px">
                <h1 style="color: #930808"> Most Popular Car - Mercedes-AMG ONE </h1>
                <p style="width: 1400px; float: left" class="para">
                    The Mercedes-Benz SLS AMG (C197 / R197) is a front mid-engine, 2-seater, limited production sports
                    car developed by the Mercedes-AMG division of German automotive manufacturer Mercedes-Benz, with the
                    assistance of David Coulthard.[4] The car is the successor to the Mercedes-Benz SLR McLaren and was
                    described by Mercedes-Benz as a spiritual successor to the Mercedes-Benz 300SL Gullwing, mainly because
                    it was inspired by the latter.[5] SLS stands for "Super Leicht Sport" (Super Light Sport).
                    The SLS was the first Mercedes-Benz automobile designed and built from scratch entirely by AMG.[6]
                    Upon its introduction at the 2009 Frankfurt Motor Show, the SLS AMG's 571 PS (420 kW; 563 hp) M159
                    engine was according to AMG "the world's most powerful naturally aspirated production series engine" ever
                    produced.[7]
                    An electric version of the car, the SLS AMG Electric Drive, was presented at the 2012 Paris Motor Show.
                    Production ended in 2014 with the introduction of the SLS AMG GT Final Edition.
                    As compared to its predecessor (the SLR McLaren), the SLS is per Mercedes-AMG head Tobias Moers, the
                    faster car on the track, both in the hands of normal drivers as well as race car drivers.[9] The Mercedes-McLaren
                    SLR came in at 1,750 kg (3,858 lb).[10] The SLS, however, has a curb weight of 1,619 kg (3,569 lb) when
                    equipped with the standard wheels.
                </p>
                <img style="width: 430px; height: 250px; float: right" src="{{url_for('static', filename='images/2009-180943-2010-mercedes-benz-sls-amg-gullwing-hi-res1.jpg')}}" alt="">
            </div>
        </li>
        <li>
            <div>
                <h1 style="color: #930808"> Least Popular Car - 2020 Mercedes-Benz GLE </h1>
                <p style="float: left; width: 1500px" class="para">
                    The 2020 Mercedes-Benz GLE-class marries a luxurious cabin and a potent powertrain in a ruggedly handsome package.
                    It's the latest in a long line of luxurious off-roaders from Mercedes-Benz that started back in the late 1990s with
                    the introduction of the M-class. This new GLE is also a huge improvement compared with the version it replaces.
                    That's not to say it's perfect. In its quest to out-tech key rivals such as the BMW X5, Lincoln Aviator, and Volvo
                    XC90, Mercedes has overlooked a few important details, namely interior ergonomics and ride comfort. While a
                    slope-roofed "coupe" model will surely join the lineup soon, the GLE-class is offered only with a squareback
                    SUV body at the moment.
                </p>
                <img style="width: 350px; height:250px; float: right" src="{{url_for('static', filename='images/2020-mercedes-benz-gle450-static-1556720399.jpg')}}" alt="">
            </div>
        </li>
    </ul>
</div>
{% endblock %}

